h2{
    background-image: url("photo1486969199024-1486969199175-0-32-308-529-crop-1486969281069.jpg"),
url("photo1486969199024-1486969199175-0-32-308-529-crop-1486969281069.jpg");
    width: 500px;
    height: 500px;
    padding: 100px;
    background-repeat: no-repeat;
    background-position: bottom left , right top;

}